<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd  
                        http://www.springframework.org/schema/context  
                        http://www.springframework.org/schema/context/spring-context-4.2.xsd  
                        http://www.springframework.org/schema/mvc  
                        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">
	<!-- 自动扫描该包，使SpringMVC认为包下用了@controller注解的类是控制器 -->
	<context:component-scan base-package="org.lyl" />
	<!-- 拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<mvc:exclude-mapping path="/*.ico" />
			<mvc:exclude-mapping path="/*/api-docs" />
			<mvc:exclude-mapping path="/swagger**" />
			<mvc:exclude-mapping path="/webjars/**" />
			<mvc:exclude-mapping path="/configuration/**" />
			<bean class="org.lyl.interceptor.MaliciousRequestInterceptor">
				<property name="minRequestIntervalTime" value="1000" />
				<property name="maxMaliciousTimes" value="0" />
				<property name="nextInterceptor">
					<array>
						<bean class="org.lyl.interceptor.LocaleInterceptor" />
					</array>
				</property>
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>
	<!--  -->
	<mvc:annotation-driven>  
        <mvc:message-converters>  
            <bean class="org.springframework.http.converter.StringHttpMessageConverter" />  
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />  
        </mvc:message-converters>  
</mvc:annotation-driven> 
	<mvc:view-resolvers>
	    <mvc:jsp cache-views="false" prefix="/WEB-INF/jsp/" suffix=".jsp" />  
	</mvc:view-resolvers>
</beans>